html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  font-size: 16px;
  font-family: futura-pt, sans-serif, sans-serif;
  color: hsl(0, 0%, 24%);
  background-color: rgb(242, 245, 247);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 24%);
}

a:hover {
  color: hsl(161.6, 71.8%, 41.8%);
}

.block {
  background-color: hsl(0, 100%, 100%);
  box-shadow: 0 2px 4px 0 hsla(198, 45%, 10%, .12);
  padding: 20px;
  border-radius: 8px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 20px;
  padding-top: 10px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#status {
  font-weight: bold;
}

h2 {
  display: inline-block;
}

header {
  background: #11998e;
  background: linear-gradient(to right, #27CA84, #11998e);
}

header h1 {
  margin: 0;
  display: inline-block;
  margin-right: 50px;
}

header a {
  color: white;
}

header a:hover {
  color: white;
  text-decoration: underline;
}

header .wave {
  overflow: hidden;
  position: relative;
  height: 50px;
}

header .headerContent {
  padding: 20px 20px 5px 20px;
  display: flex;
  align-items: center;
}

header h1 a:hover {
  color: white;
}

header svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 49px;
  fill: rgb(242, 245, 247);
}

.introduction {
  padding: 30px 0;
  font-size: 20px;
  line-height: 1.8rem;
}

.repositories {
  display: grid;
  grid-template-columns: 1fr;
  /* align-items: baseline; */
  grid-gap: 40px;
}

.repositories .block {
  padding: 20px;
  position: relative;
  padding-bottom: 55px;
  line-height: 1.3rem;
}
.repositories .block h3 {
  margin-top: 0;
}

.repositories .block .btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.repositories .description {
  font-size: 1.1rem;
  font-style: italic;
}

.btn {
  background-color: rgb(242, 245, 247);
  box-shadow: 2px 2px 0 0 hsl(0, 0%, 24%);
  border: none;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 24%);
  color: hsl(0, 0%, 24%);
  padding: 10px;
}

a.btn:hover {
  color: hsl(0, 0%, 24%);
}

@media (min-width: 576px) {
  .repositories {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .repositories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}